html, * {
    margin: 0;
    padding: 0;
}

body {
    color: #111;
    font-size: 18px;
    font-family: "Maven Pro", sans-serif;
    line-height: 1.5;
    padding: 20px;
    background: #fff;
}

#container-tight {
    margin: 0 auto;
    max-width: 850px;
}

h1 {
    margin-bottom: 1em;
}

h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em 0;
}

#index h2 {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #212121;
    font-family: "Suez One", serif;
}

strong {
    font-weight: bold;
    text-decoration: underline;
}

p {
    margin: 0.8em 0;
}

ul, ol {
    margin-left: 2em;
}

li {
    margin: 0.5em 0;
}

ul.posts {
    margin-left: 0;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #6186F1;
}

table#index {
    margin: 0;
    border: none;
    width: 100%;
}

table#index td {
    vertical-align: top;
}

td#posts {
    width: 80%;
}

td#metabox {
    width: 20%;
}

td#metabox a,
td#metabox a:visited,
td#metabox a:active,
td#metabox a:hover {
    color: #111;
}

td#metabox {
    background: #6186F1;
    color: #fff;
    padding: 10px;
}

td#metabox div.classname {
    font-size: 32px;
    font-weight: bold;
}

td#metabox div.semester {
    font-size: 22px;
    margin-top: 20px;
}

td#metabox div.email {
    margin: 20px 0;
}

td#metabox div.officehours {
    margin: 20px 0;
    font-size: 16px;
}

.right {
    float: right;
    margin-left: 10px;
}

img {
    background: white;
    padding: 5px;
    -moz-box-shadow: 0px 0px 5px #c7c7c7;
    -webkit-box-shadow: 0px 0px 5px #c7c7c7;
    box-shadow: 0px 0px 5px #c7c7c7;
}

.post-title {
    font-size: 18px;
    margin-right: 10px;
}

.post-categories {
    color: #616161;
    font-weight: bold;
    margin-right: 10px;
}

.post-date {
    color: #e0e0e0;
    margin-right: 10px;
}

.post-due {
    color: #616161;
}

ul.posts li {
    margin: 0.5em 0;
    display: block;
}

div.license {
    font-size: 12px;
    clear: both;
    padding-top: 20px;
}

div.metatop {
    width: 5em;
    margin-bottom: 20px;
    margin-top: 10px;
    float: right;
    text-align: right;
}

div.metatop span.homelink {
    margin-right: 10px;
}

@media only screen and (max-width: 480px) {
    div.metabox {
        float: none;
    }
}

table {
    margin: 0 auto;
    border-collapse: separate;
    border: 1px solid #6186F1;
    border-spacing: 0 5px;
}

td {
    padding: 5px;
    vertical-align: top;
}

thead tr th {
    border-bottom: 1px solid #6186F1;
}

thead th {
    padding: 10px 5px;
    font-weight: bold;
}

table#toc {
    margin: 0;
}

pre {
    border-left: 4px solid #6186F1;
    padding-left: 15px;
    margin: 2em 0;
}

pre, code, tt {
    font-family: "Ubunto Mono", monospace;
    font-size: 14px;
}

code {
    border: 1px dotted #6186F1;
    padding: 2px;
}

pre code {
    border: none;
    padding: 0;
}

blockquote {
    border-left: 4px solid #6186F1;
    padding-left: 15px;
    margin: 2em 0;
    padding-left: 30px;
}

img {
    display: block;
    margin: 0 auto;
}

img.emoji {
    display: inline;
}


