<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{{ page.title }} / CSCI 221</title>
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/screen-code-style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
        <link rel="stylesheet" href="/css/print-code-style.css" type="text/css" media="print" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <script type="text/javascript" src="/js/flexpaper_flash.js"></script>
    </head>
    <body>
        <div id="content">
            <div id="header">
                <a href="/">Home</a> &nbsp; &nbsp;
            </div>

            <h1>{{ page.title }}</h1>

            {{ content }}

<div style="font-size: 80%;">
<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">CSCI 221 material</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://csci221.artifice.cc" property="cc:attributionName" rel="cc:attributionURL">Joshua Eckroth</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Source code for this website available at <a href="https://github.com/joshuaeckroth/csci221-website">GitHub</a>.
</div>
        </div>
    </body>

<script>

</script>

</html>

